<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Orders</h1>
    <% orders.forEach(function(o) { %>
        <li>
            <a href="/orders/<%= o.product_id %>">
                <%= o.product_name %>
            </a>
        </li>
        <%})%>
</body>

</html>