
.exerciseHeader, .exerciseFooter, .exerciseMain {
    margin: 0 10px 10px 10px;
}

.exerciseMain {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.exerciseMainContent {
    width: 75%;

}

.exerciseMainAside {
    width: 25%;
}